<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="./static/favicon.ico">
        <link rel="stylesheet" href="./assets/style.scss">
        <title>Tic Tac Toe on VueJs Framework</title>
    </head>
    <body>
        <h1 id="title">{{ title }}</h1>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="./src/App.js"></script>
    </body>
</html>